* { margin:0; padding:0; box-sizing:border-box; }
#container {
	margin: 0 auto;
	width: 900px;
	background-color: #ffffff;
}
header {
	font-family: "proxima-nova", sans-serif;
	color: #ffffff;
    padding: 20px;
}
body {font-family: "proxima-nova", sans-serif;
	color: #ffffff;
    padding: 20px;
}
nav {
	font-family: "proxima-nova", sans-serif;
	color: #ffffff;
	background: #333;
}

nav a {
	display: block;
	float: right;
	padding: 5px 10px;
	color: #ffffff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

nav a:hover { 
  background-color: #338833; 
}
img.small{ 
	width: 5em; 
    height: auto;
}

.column {
	float: left;
	width: 260px;
  	height: 300px;
	padding: 20px;
	margin: 0;
}

#two_column {
  background-color: #000000;
  padding: 20px top;
}

#left {
  background-color: #000000;
  padding: 20px top;
  float: left;
  width: 20%;
}

#right {
  background-color: #000000;
  padding: 20px top;
  float: right;
  width: 40%;
}

article {
	font-family: "proxima-nova", sans-serif;
	color: #ffffff;
	background-color: #000000;
	float: right;
	width: 450px;
  	height: 300px;
	padding: 50px;
	margin: 0;
}
aside {
	font-family: "proxima-nova", sans-serif;
	color: #ffffff;
	background-color: #000000;
	float: left;
	width: 200px;
	padding: 20px;
	margin: 0;
}

footer {
	font-family: "proxima-nova", sans-serif;
	color: #ffffff;
	background-color: #000000
	text-align: right;
	padding: 20px;
	margin: 0;
	float: right;
}
section {
	font-family: "proxima-nova", sans-serif;
	color: #ffffff;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
