@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color: #201828;
	font-size: 16px;
	position: relative;
}

header{
	padding:0 200px;
}

nav{
	margin:auto;
	text-align: center;
}

nav a:link{
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	padding:0 32px;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition:color ease-in-out .5s;
	-moz-transition:color ease-in-out .5s;
	-o-transition:color ease-in-out .5s;
	transition:color ease-in-out .5s;
}

nav a:visited{
	color: #fff;
}

nav a:hover{
	color: #C400C4;
}

nav a:active{
	color: #C400C4;
}

.wrap-gallery{
	background-color: #fff;
	color:#3C3C3C;
	padding:50px 0;
}

section{
	padding:50px 0;
}

footer{
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size: .8em;
	text-align: center;
	letter-spacing: 2px;
}

h1{
	font-family: 'Sorts+Mill+Goudy', serif;
	font-weight: normal;
	font-size:60px;
	text-align:center;
	color:#fff;
	margin:200px 0 0;
}

h2, h3, h4{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h2{
	font-size:.8em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin:0 0 2.5em;
}

h2 + hr{
	background-color: #fff;
	height:1px;
}

h3{
	font-weight: 100;
	font-size:1.6em;
	margin:.5em;
}

h3 + hr{
	background-color: #3C3C3C;
	height:3px;
}

h4{
	color: #fff;
	font-weight: normal;
	font-size:1.5 em;
	margin:.5em;
	text-align:center;
}

p{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size:1.5 em;
	margin: 5 em;
	text-align:center;
}

a{
	text-decoration:none;
	color:#fff;
	margin: 0 0 .2em 0;;
}

.clearfix:after{
	height:0;
	font-size:0;
	visibility:hidden;
	display:block;
	content:" ";
	clear:both;
}

.gallery{
	width:25%;
	padding:1%;
	margin:1%;
	float:left;
}

.about{
	width:100%;
	padding:2em 0 0;
	position:center;
	background-color: orange;
}

.about h3{
	color: #000;
	margin:0 0 1em;
	position: absolute;
	top:220px;
}
div.about {
  	align-items: center 
}

.contact {
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	padding:32px;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#wrap-splash{
	background:url(img src="images/photo_1.jpg") 
	width:100%;
	margin:auto;
	height:750px;
	padding:20px 0;
}

#wrap-gallery{
	background-color:#000;
	color:#F1E9E4;
	padding:5em 10% 7em;
}

#toggle{
	display: none;
}


@media screen and (max-width:1645px){
	.about{
		width:48%;
		height: 651px;
	}
}

@media screen and (max-width:1220px){
	header{
		padding:0 10%;
	}

	.about{
		height: 560px;
	}

@media screen and (max-width:1000px){
	.about{
		width:100%;
		float:none;
		height: auto;
	}
}

@media screen and (max-width:750px){
	nav{
		display: none;
	}

	nav a:link{
		display: block;
		padding:15px;
		margin:5px;
	}

	h1{
		margin:40px 0 0;
	}

	header{
		padding:0 2%;
	}

	label{
		display: block;
	}

	#toggle:checked + nav{
		display: block;
	}

}
