@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color: #fff;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	background: url(../images/honeycomb.svg) repeat;
}

h2{
	font-weight: 300;
	text-align: center;
	font-size:.75em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin:0 0 2.5em;
}

h3{
	color:#fff;
	font-size: .75em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 2em;
}

h4{
	color: #000;
	font-weight: normal;
	font-size: 1em;
	margin: 2em 0em 1em 0em;
	text-align:center;
}

p{
	font-family: 'Sorts+Mill+Goudy', serif;
	color: #fff;
	font-size:1em;
	font-weight:normal;
	line-height: 1.5em;
	margin: 0em;
	text-align:left;
	display: block;
}

a{
	text-decoration:none;
	color:#fff;
	font-size: .8em;
	margin: 0 0 .2em 0;
	padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 0;
}

header{
	position: center;
	margin:auto;
}

nav{
	margin:auto;
	text-align: center;
}

nav a:link{
	color:#000;
	padding:0 32px;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition:color ease-in-out .5s;
	-moz-transition:color ease-in-out .5s;
	-o-transition:color ease-in-out .5s;
	transition:color ease-in-out .5s;
}

nav a:visited{
	color: #2D5B75;
}

nav a:hover{
	color: #2D5B75;
}

nav a:active{
	color: #2D5B75;
}

img {
	margin-left: auto;
    margin-right: auto;
}

.clearfix:after{
	height:0;
	font-size:0;
	visibility:hidden;
	display:block;
	content:" ";
	clear:both;
}

.buzz{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.gallery{
	width: 30%;
  	margin: 1em;
	float: left;
	vertical-align: middle;
}

.resize{
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

.displayed{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
} 

.about{
	width:100%;
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
	position:center;
	background-color: orange;
	top:220px;
}

.contact {
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	padding:5em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.icon {
	width: 1.5em;
    height: auto;
} 

img.gallery {
	max-width: 325px;
	display:block;
	margin: auto;
}

img.buzz {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
} 

img.graphic {
	width: 100%;
}

#page-wrap {
     width: 80%;
     margin: 0 auto;
}

#wrap-splash{
	background: url(../images/photo_3_1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	color:#F1E9E4;
	padding:2em 10% 5em;
}

#wrap-gallery{
	background-color:#000;
	color:#F1E9E4;
	padding-top: 2.5em;
	padding-bottom: 5em;
}

#wrap-about{
	width:100%;
	padding-top: 2em;
	padding-left: 5em;
	padding-right: 5em;
	position:center;
	background-color: orange;
	top:220px;
}

#wrap-contact{
	background-color:#000;
	padding-top:2em;
	padding-bottom:2em;
}

@media screen and (max-width:1400px){
	.contact {
		font-size: 90%;	
}

@media screen and (max-width:1390px){
	.gallery{
		width:45%;
		height: 350px;
		padding-bottom: 0em;
	}

	#wrap-gallery{
	padding-bottom: 1em;
	}

	.contact {
	font-size: 70%;	
}

@media screen and (max-width:1000px){
	.gallery{
		width:95%;
		float:none;
		padding-bottom: 2em;
		height: auto;
	}

	nav a:link{
	padding:2em, 0, 2em, 3em;
	}

	.contact a {
	text-align: left;
	padding:0em;
	display: block;
	float: none;
	}
}

@media screen and (max-width:860px){
	#wrap-about{
	padding-left: 4em;
	padding-right: 4em;
	}

	.gallery{
	width:90%;
	float:none;
	padding-bottom: 2em;
	height: auto;
	}

	nav a:link{
	display: block;
	padding: 15px;
	margin:5px;
	}
}
