@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color: #fff;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	background: url(../images/honeycomb.svg) no-repeat;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size:.75em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin:0 0 2.5em;
}

h3{
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size: .75em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h4{
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-weight: normal;
	font-size: 1em;
	margin: 2em 0em 1em 0em;
	text-align:center;
}

p{
	font-family: 'Sorts+Mill+Goudy', serif;
	color: #fff;
	font-size:1em;
	font-weight:normal;
	line-height: 1.5em;
	margin: 0em 5em 0em 5em;
	text-align:center;
	display: block;
}

a{
	text-decoration:none;
	color:#fff;
	font-size: .8em;
	margin: 0 0 .2em 0;
	padding-top: 0;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 0;
}

header{
	position: center;
	margin:auto;
}

nav{
	margin:auto;
	text-align: center;
}

nav a:link{
	font-family: 'Montserrat', sans-serif;
	color:#000;
	padding:0 32px;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition:color ease-in-out .5s;
	-moz-transition:color ease-in-out .5s;
	-o-transition:color ease-in-out .5s;
	transition:color ease-in-out .5s;
}

nav a:visited{
	color: #fff;
}

nav a:hover{
	color: #2D5B75;
}

nav a:active{
	color: #2D5B75;
}

img {
	margin-left: auto;
    margin-right: auto;
}

.clearfix:after{
	height:0;
	font-size:0;
	visibility:hidden;
	display:block;
	overflow: auto;
	content:" ";
	clear:both;
}

.buzz{
	width: 36em;
	margin-left: auto;
	margin-right: auto;
}

.element2 {
	background: url(iamges.jpg);
	-webkit-mask: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.gallery{
	width:300px;
	margin: 2em;
	float: left;
}
.resize{
	width:100%;
	padding:.5em;
}

.displayed{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
} 

.about{
	width:100%;
	padding-top: 2em;
	padding-left: 10em;
	padding-right: 10em;
	position:center;
	background-color: orange;
	top:220px;
}

.contact {
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	padding:2em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.icon {
	width: 2em;
    height: auto;
} 

.gallery-image{
	float: left;
}
.gallery-copy {
	float: right;
	margin-left: 10em;
}

img.buzz {
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

#page-wrap {
     width: 1080px;
     margin: 0 auto;
}

#wrap-splash{
	background: url(../images/photo_3_1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	color:#F1E9E4;
	padding:2em 10% 5em;
}

#wrap-gallery{
	background-color:#000;
	color:#F1E9E4;
	padding-top: 2.5em;
	padding-bottom: 1em;
}
#wrap-gallery_2{
	background-color: orange;
	color:orange;
	padding-top: 2.5em;
	padding-bottom: 1em;
}

#wrap-gallery_2 img{
	padding-left: 2em;
}

#wrap-about{
	padding-top: 2.5em;
	padding-bottom: 1em;
}

#toggle{
	display: none;
}

#wrap-contact{
	background-color: #000;
	color:#3C3C3C;
	padding:1em 0 1em 0;
}

@media screen and (max-width:1645px){
	.gallery{
		width:48%;
		height: 651px;
	}
}

@media screen and (max-width:1220px){
	header{
		padding:0 10%;
	}

	.gallery{
		height: 560px;
	}

@media screen and (max-width:1000px){
	.gallery{
		width:100%;
		float:none;
		height: auto;
	}

@media screen and (max-width:750px){
	nav{
		display: none;
	}

	nav a:link{
		display: block;
		padding:15px;
		margin:5px;
	}

	h1{
		margin:40px 0 0;
	}

	header{
		padding:0 2%;
	}

	#toggle:checked + nav{
		display: block;
	}


